// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////
$white: #fff;
$white-smoke: #eee;
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$emerald-green: #50C878;
$crimson-red: #990000;
$black: #000000;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $crimson-red;

//  Text Link Colors
$base-link-color: darken($emerald-green, 40);
$hover-link-color: lighten($base-link-color, 10);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Broilerplate Vars - used for /mixins
///////////////////////////////////////////////////////////////////////////////

$one-pixel: 0.0625em; // Used for setting max-width mq's
$unit: $base-font-size;

$primary: darken($emerald-green, 30);;
$secondary: $white;
$tertiary: $crimson-red;
