// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
.site-header {
	@include clearfix;
	@include linear-gradient($primary, darken($primary, 15));
	//background-color: $primary;
	padding:20px 0;

	@include media($medium-screen) {
		padding:12px 0;
	}
}

.site-main{
	h2 {
		font-size:1.6em;
		@include media($medium-screen  + 15) {
			font-size:2em;
		}
	}
}
.site-footer{
	text-align: center;
	font-size: .8em;
}

.col-one-third {
	@include media($medium-screen) {
		@include span-columns(4);
	}
}
.col-two-third {
	@include media($medium-screen) {
		@include span-columns(8);
		padding-right:1em;
	}
}


.profile-img {
	float:left;
	margin-right:1.5em;
	height:auto;
}

// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.site-nav {
	@include clearfix;

	.navbar-brand {
		display: block;

		i {
			font-size:3em;
			margin-right:1em;
			display: block;
		}
		@include media($medium-screen) {
			float: left;
		}
	}

	.site-logo {
		display: block;
		border-radius: 100%;
		margin: auto;
	}

	.nav-links {
		height: 0;
		overflow: hidden;

		@include media($medium-screen) {
			height: auto;
		}

		a {
			color:$secondary;
			@include trailing-hovers;
			@include media($medium-screen) {
				display: block;
				float: left;
				line-height: 0;
				height: 0;
				padding: .6em 1.5em;
			}
		}

		.nav-right {
			@include media($medium-screen) {
				float: right;
			}
		}
	}
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: .5em;
	right: 1em;
	z-index: 2;

	@include media($medium-screen) {
		display: none;
	}

	.icon {
		display: block;
		font-size: 1.5em;
		cursor: pointer;
		color:$white;
	}
}

// Menu active
.menu-active {
	
	.nav-links {
		height: auto;
		overflow: auto;
		
		a {
			display: block;
			padding: .5em;
		}
	}
}
