---
title: Lake County Regions
layout: single_column
---

# Explore Lake County

<nav id="toc"></nav>

# Clear Lake
{: .section-title}

Clearlake is Lake County’s most populated area and one of its two incorporated cities. Its three lakefront parks are filled with locals and out-of-towners in the spring and summer. Clearlake’s famous annual International Worm Races is held in conjunction with its Independence Day festivities, which move with the parade from Redbud to Austin Park.

At the heart of Northern California’s rural, agricultural Lake County, Clear Lake has long attracted nature lovers, boating and watersports enthusiasts, campers, hikers, and birdwatchers. Beaches, parks, resorts, boat docks, grazing land, vineyards, gardens, and private homes line the lake’s peaceful shores.

Clear Lake is the largest natural freshwater lake in California and one of the most ancient lakes on the North American continent — possibly the world — with lakes existing at the site of Clear Lake for approximately 2.5 million years. Pomo Indians, the region’s earliest inhabitants, called the lake “Lypoyomi,” which means “big water.” In the 1800s, the name was changed to reflect the region’s sweet fresh air and the lake’s influence on the Mediterranean-type climate. Lake County continues to boast the state’s cleanest air, as verified by the California Air Resources Board.

# Clearlake Oaks
{: .section-title}

The county’s easternmost community – referred to as “the Oaks” by locals – is scattered with both lakefront and hilltop homes. Two favorite spots are Shannon Ridge’s tasting room and Happy Garden, a Thai and Chinese restaurant, plus several lakeside campgrounds frequented year-round. Eleven Roses Ranch, in the mountains above Clear Lake, offers historic family ranch tours.

In the Clearlake Oaks Keys, more than 800 waterfront lots line Clear Lake, with Stubbs Island as a southern border – the site of two popular campgrounds.

Other nearby communities include Glenhaven, which also features resorts and campgrounds; Kono Tayee, with its tall, imported cypress and citrus trees; the gated community of Paradise Cove; and Spring Valley with nearly 1,000 parcels in a nine-mile-long mountain valley.

# Cobb Mountain
{: .section-title}

Pine-covered Cobb Mountain is a 4,722-foot-tall peak in the Mayacamas Mountain Range, named after John Cobb and family – the first settlers in 1853. A delightfully eccentric community inspirited by the Cobb Mountain Artists, its commercial area features a coffee shop/bookstore combination, restaurants, two golf courses, and magnificent scenery.

Boggs Mountain Demonstration State Forest offers well-marked interpretive trails – open to dogs (on leash), horses, and mountain bikes. Primitive campsites are available.

Revered for the memories of its resorts surrounding Lake County’s hot springs in the late 19th and early 20th centuries, Cobb Mountain is still rich with magic and allure.

# Kelseyville
{: .section-title}

Kelseyville’s charming and historic Main Street is full of adventure. Three tasting rooms and a fourth just a short drive down the road, a bakery, music store, coffee house and deli, restaurant exhibiting local art, two flower shops, bead and quilting shops are just a few popular stop-offs along sidewalks lined with flowering pear trees, historic streetlamps, and cozy benches. And this is only one small portion of vast Kelseyville, known as the “pear capital of the world.”

Nearby Finley is a small country town housing most of the local pear-packing sheds, a charming market/deli, agricultural store, grange, and Angel’s Rock House, a bustling Mexican food restaurant.

Clear Lake State Park on Soda Bay Road features a marina, swim beach, fishing pier, lakeside camping, hiking trails, and an interpretive visitors center/museum and shop.

The three Rivieras – Riviera Heights, Riviera West, and Clearlake Riviera – dot the hills along the shoreline of Clear Lake at the base of Mt. Konocti.

# Lakeport
{: .section-title}

Lakeport, the county seat, is the oldest of Lake County’s two cities. Incorporated in 1888, the city retains its rural charm while offering conveniences found in larger cities. A diverse collection of restaurants, coffee shops, and bars is located in the downtown area – just a block from Clear Lake, as well as specialty stores, a bakery, bookstores, and art galleries. Artwork by local artists is displayed in government offices and many of the local businesses as part of the “Art in Public Places” program.

The Lake County Historic Courthouse Museum is located in central downtown – a block east of the newer courthouse currently in operation – and served as the county courthouse from 1871 to 1968. The first courthouse in California to be placed on the National Register of Historic Places in 1970, the museum now features a permanent display of Pomo artifacts and recreated historic rooms – including an old courtroom – as well as rotating exhibits of stone tools, pioneer rifles, geological timelines, and photographs of the area’s popular resorts and spas at the turn of the century.

On the shoreline lies popular Library Park, named after Carnegie Library, which was in operation between 1917 and 1986 and was the county’s main library. Families swim on the beach, launch boats from the park’s docks, and picnic in the park, or walk a block or two to one of many nearby restaurants.

Other facilities include Mendocino Community College, Lampson Field Airport two miles south, and the Lake County Fairgrounds, where events are held year-round.

# Lower Lake
{: .section-title}

Though its downtown area is made up of a single Main Street, Lower Lake is home to numerous wineries  and vineyards in the Red Hills AVA, and features some of the most distinct businesses in the county. Along with a rock shop owned by prominent members of the Lake County Rockhounds, Lower Lake houses a bustling coffee shop, deli, socially conscious candle and Himalyan salt outlet store, and other small shops featuring fine art and crafts by local artists.

As visitors enter the gateway to Tuscan Village, Lower Lake morphs into a miniature Italian town, complete with decorative buildings, small businesses, Terrill Cellars winery and tasting area, a charming wedding chapel, orchard, and amphitheater overlooking it all.

The “West’s smallest jail” is a popular historical site, and at the end of Main Street lies the Lower Lake Schoolhouse Museum, built in 1877 and used as a classroom until 1935. Exhibits include a re-created classroom from the late 1880s to early 1900s, a geology display donated by Homestake Mining Company with a sample of raw gold, and artifacts from pioneer families. Plays, musicals, and other events are held throughout the year by the Lake County Repertory Theater and other groups in the museum’s historic Weaver Auditorium theater upstairs.

# Middletown
{: .section-title}

Just north of Mount Saint Helena, midway between Calistoga and Lower Lake, lies Middletown – home to The Geysers, the largest geothermal energy source in the world. Surrounded by outlying ranches, the town balances Old West charm and forward-thinking businesses with a vision for a sustainable world, including Moontide and Funtopia.

With several wineries with tasting rooms, the Middletown Days festival – a nearly half-century-old tradition – and many community and holiday events, residents and visitors stay busy throughout the year.

Nearby Hidden Valley Lake is a community unto itself. Originally, the affordable development was meant to be for vacation home owners and retirees. Over time, however, a range of residents entered Hidden Valley Lake, making it the second most populous place in Lake County – a place both for raising families and retiring peacefully. Hidden Valley Lake features the only 18-hole golf course in Lake County, conceptualized by a renowned course designer, with lessons offered by a renowned P.G.A. Pro. The on-site Greenview Restaurant & Café is open daily for all meals and serves both community and golf club members.

The Stone House Museum – the oldest building in Lake County, erected between 1853 and 1854 – still stands at the foot of Hidden Valley Lake’s dam; tours are available by appointment.


# Mount Konocti
{: .section-title}

According to Pomo Indian legend, a beautiful maiden who lived on Mount Konocti created Soda Bay at its foot with tears she shed over the deaths of her feuding father and lover. Today, Soda Bay still bubbles with volcanic gases at the foot of Mt. Konocti, which rises to 4,300 feet in elevation. The Clear Lake Volcanic Field consists of some seven once-active volcanic vents.

The name “Konocti” has mysterious origins. Though European settlers attempted to change Mt. Konocti’s name to “Uncle Sam Mountain” in 1854, the original name has endured. Several Indian tribes inhabited the area more than 11,000 years ago, and though they were all of the Pomo Nation, they spoke several languages native to their own tribes. Konocti means “big rock” in one Pomo language; another tribe credits Chief Konocti with creating the mountain. The most favored translation is “Mountain Woman,” from the Pomo word, “Knoktai,” of which “Kno” means “mountain” and “Hatai” means “woman” in one tribe’s language. An essential part of Pomo spirituality, Mt. Konocti is still sacred to Native Americans.

Mt. Konocti’s surface varies with elevation and exposure. The south slope of the mountain is covered with 12 square miles of black obsidian. At the bottom of the north face, a Douglas fir forest is dense and cool. The first homesteader’s cabin on the mountain, built by Mary Downen in 1903, still stands. Orchards and vineyards thrive in the volcanic soil in a multitude of microclimates, and a grove of ancient maul oaks near the summit date back more than 500 years.

At night, a beacon atop the dark mountain announces its presence, and in daylight, it is possible to view Mt. Konocti’s very own weather system create wispy clouds, high winds, or winter snow flurries. Changes in barometric pressure cause gusts of air to move into and out of the mountain’s vents. Though some locals believe huge catacombs exist within, only small caves have been found. The Pomos have handed down stories of throwing carved sticks into Mt. Konocti’s crater and later finding them floating in the lake.

Mt. Konocti is the stunning backdrop for nearly every scene around Clear Lake. Lake County recently purchased 1520 acres on the top of Mount Konocti, placing much of the mountain into public hands for perpetuity. Lands for many purposes - for reflection, for hiking, for enjoying nature. Mount Konocti County Park is scheduled to open in 2011. Visit Preserve Konocti  or www.konoctitrails.com for more information.

# The Northshore
{: .section-title}

Both Nice and Lucerne are named after popular European cities. The communities have progressed over the past few years, with new lakefront parks, interesting restaurants, coffee shops, and specialty stores unlike any others in the county.

The Fetzer family-owned Ceago Vinegarden tasting room,  located on Highway 20 in Nice, features biodynamic farming, demonstration gardens, and livestock. The Lake County Visitor Information Center in Lucerne is fully staffed to link travelers to Lake County activities, lodging, and dining with a helpful array of maps and brochures

# Upper Lake & Blue Lakes
{: .section-title}

Historical photos from the late 1800s through the mid-1900s show a succession of shops in Upper Lake including dry goods, sporting goods, and hardware stores, as well as pharmacies, clothing stores, and grocery stores. Throughout the town’s long history, its streets have been lined with butcher shops, bakeries, saloons, restaurants, and ice cream parlors.

Today’s new generation of shopkeepers, innkeepers, and restaurateurs, all help preserve and share the rich history of this pioneer town by restoring facades, hanging new signs, and opening a variety of businesses.

A former stagecoach stop along the route from Sacramento to Mendocino now includes the restored Tallman Hotel, which was recently added to the California Register of Historic Resources as a Point of Historical Interest, as well as a re-created Blue Wing Saloon & Café, and a former livery, now home to an antique plumbing business.

Also along Main Street, visitors will find a local wine tasting bar, antiques and collectibles from all over the world, local crafts, and fine art from throughout Northern California, as well as household necessities, pet care items, gifts, and home décor. Upper Lake’s Harriet Lee Hammond Library was built in 1916 in memory of her husband on land donated by the Mendenhalls. The building is still in use today as a branch of the Lake County Library.

Spring-fed Blue Lakes to the west is a small lakeside community, featuring The Lodge at Blue Lakes, a rennovated dog-friendly retreat, nostalgic resorts, campgrounds, vacation cabins, and abundant opportunities for quiet watersports. The serene atmosphere is the result of a motorboat speed limit of 5 mph.


<% content_for :js do %>
<script>
tableOfContents();
</script>
<% end %>